/* Estilos generales para todos los dispositivos */
body {
  font-size: 20px; /* Tamaño de fuente predeterminado */
}

/* Estilos para pantallas más grandes, como tablets y desktops */
@media only screen and (min-width: 768px) {
  /* Estilos para dispositivos con un ancho mínimo de 768px */
  body {
  	font-size: 16px; /* Tamaño de fuente predeterminado */
}

  /* Resto de estilos específicos para escritorio */
  /* ... */
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}